<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Acknowledgement </title>
  <link rel="stylesheet" href="../styles/acknowledge.css">
</head>
<body>
  <h1 id="head">Thank You...</h1>
    <h3 id="data"><%= name %></h3>
    <form action="return" method='POST'>
        <button type="submit" id="btn">Go To HomePage</button>
    </form>
    
</html>
